.Qr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .heading{
      font-weight: bolder;
      font-size: larger;
      text-align: center;
  }
  .result{
      font-weight: bold;
      text-align: center;
  }